button {
	background-size: 100% 100%;
	background-color: transparent;
	font-size: 5vw;
}

.button-container {
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.default {
	/* height: 100px; */
	background-color: #4a4a4a72;
	/* 버튼 배경색 */
	border: 5px solid #bfbfbf;
	/* 버튼 테두리 */
	border-radius: 10px;
	/* 버튼 모서리 둥글게 */
	color: white;
	text-align: center;
}

.gray {
	background-image: url(../../public/images/button.png);
	color: white;
	border: none;
}

.blue {
	background-image: url(../../public/images/ui/profile-button.png);
	color: white;
	border: lightskyblue;
}

.sidebar {
	width: 100%;
	min-height: 6vh;
	padding: 10px;
	margin: 1vw 0.5vw;
	font-size: 2.5vw;
}

.s {
	aspect-ratio: 7/3;
	width: 10vw;
	height: auto;
	background-size: 100% 100%;
	font-size: 2vw;
}

.m {
	aspect-ratio: 5/3;
	width: 13vw;
	height: auto;
	background-size: 100% 100%;
	font-size: 2.5vw;
}

.l {
	aspect-ratio: 1.9/1;
	width: 23vw;
	height: auto;
	background-size: 100% 100%;
	font-size: 5vw;
}

.xl {
	aspect-ratio: 2.5/1;
	width: 30vw;
	height: auto;
	background-size: 100% 100%;
	font-size: 6vw;
}

/* 모바일 화면에서 버튼 크기 조정 */
@media (max-width: 1000px) {
	button {
		aspect-ratio: unset !important;
		width: 40vw !important;
		min-height: max-content !important;
		font-size: 5vw !important;
		max-height: fit-content !important;
		padding: 3vw 0 !important;
	}
}