.gate {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* 부모 컨테이너가 전체 뷰포트를 차지하도록 설정 */
}

.gate .logo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: var(--gate-logo-img);
	background-size: contain;
	background-repeat: no-repeat;

	/* 최대 및 최소 크기 제한 설정 */
	max-width: 60vw;
	max-height: 50vh;
	min-width: 40vw;
	min-height: 25vh;

	/* 이미지 비율을 유지하면서 크기를 조정 */
	width: 100%;
	height: auto;
	aspect-ratio: 670 / 380;
}