/* 전역 스타일 정의 */ 

@font-face {
	font-family: 'Pixeboy';
	src: url('../../public/fonts/Pixeboy.ttf');
}

@font-face {
	font-family: 'DungGeunMo';
	src: url('../../public/fonts/DungGeunMo.ttf');
}

html {
	font-size: 16px;
}

:root {
	--text-color: #fff;
	--base-font: 'DungGeunMo', sans-serif;
	--title-font: 'Pixeboy', sans-serif;
	--base-font-size: 1rem;
	--big-font-size: 3rem;
	--base-line-height: 1.6;
	--gate-page-background-img: url('../../public/images/space_bg.png');
	--gate-logo-img: url('../../public/images/gate-logo.png');
}

body {
	display: flex;
	justify-content: center;
	align-items: center;   
	font-family: var(--title-font);
	color: var(--text-color);
	background-image: var(--gate-page-background-img);
	background-size: cover;
	width: 100vw;
	height: 100vh;
}