/* 전역 스타일 정의 */

@font-face {
	font-family: 'Pixeboy';
	src: url('../../public/fonts/Pixeboy.ttf');
}

@font-face {
	font-family: 'DungGeunMo';
	src: url('../../public/fonts/DungGeunMo.ttf');
}

html {
	font-size: 16px;
	overflow: hidden;
}

:root {
	--text-color: #fff;
	--strong-color: yellow;
	--absolute-color-black: #000;
	--base-font: 'DungGeunMo', sans-serif;
	--title-font: 'Pixeboy', sans-serif;

	/* for button */
	--small-font-size: 40px;
	--medium-font-size: 50px;
	--large-font-size: 80px;
	--xlarge-font-size: 120px;

	/* for text */
	--base-font-size: 50px;
	--big-font-size: 150px;
	--title-font-size: 200px;

	--base-line-height: 1.6;
	--header-color: #011635;
	--gate-page-background-img: url('../../public/images/space_bg.png');
	--gate-logo-img: url('../../public/images/gate-logo.png');
	--modal-bg-color: #011635;

	/* for Avatar */
	--avatar-border-color: #007bff;
	--alert-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
	--btn-border-color: #a9a9a9;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 15vh;
	width: 100vw;
	z-index: 100;
	background-color: var(--header-color);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--title-font);
	color: var(--text-color);
	background-image: var(--gate-page-background-img);
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

#root {
	/* overflow: auto; */ /* 이거 넣으신분..? 일단은 주석처리 했습니당 */
	transform: translateX(0);
}

h1 {
	font-size: var(--title-font-size);
	line-height: var(--base-line-height);
	text-align: center;
	font-family: var(--title-font);
}

/* button.css로 이동하지 않아도 될까요? */
button {
	cursor: pointer;
	font-family: var(--base-font);
}

input {
	outline: none;
	padding: 5px;
	color: var(--text-color);
	font-family: 'DungGeunMo';
}