/* 전역 스타일 정의 */

@font-face {
	font-family: 'Pixeboy';
	src: url('../../public/fonts/Pixeboy.ttf');
}

@font-face {
	font-family: 'DungGeunMo';
	src: url('../../public/fonts/DungGeunMo.ttf');
}

html {
	font-size: 16px;
	overflow: hidden;
}

:root {
	--text-color: #fff;
	--strong-color: yellow;
	--absolute-color-black: #000;
	--base-font: 'DungGeunMo', sans-serif;
	--title-font: 'Pixeboy', sans-serif;

	/* for button */
	--small-font-size: clamp(22px, 2vw, 40px);
	--medium-font-size: clamp(33px, 3.5vw, 70px);
	--large-font-size: clamp(55px, 5vw, 100px);
	--xlarge-font-size: clamp(66px, 6vw, 120px);

	/* for text */
	--base-font-size: clamp(27px, 2.5vw, 50px);
	--big-font-size: clamp(82px, 7.5vw, 150px);
	--title-font-size: clamp(110px, 10vw, 200px);

	--base-line-height: 1.6;
	--header-color: #011635;
	--gate-page-background-img: url('../../public/images/space_bg.png');
	--gate-logo-img: url('../../public/images/gate-logo.png');
	--modal-bg-color: #011635;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 15vh;
	width: 100vw;
	z-index: 100;
	background-color: var(--header-color);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--title-font);
	color: var(--text-color);
	background-image: var(--gate-page-background-img);
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

#root {
	overflow: auto;
	transform: translateX(0);
}

h1 {
	font-size: var(--title-font-size);
	line-height: var(--base-line-height);
	text-align: center;
	font-family: var(--title-font);
}

button {
	cursor: pointer;
	font-family: var(--base-font);
}

input {
	outline: none;
	padding: 5px;
	color: var(--text-color);
	font-family: 'DungGeunMo';
}