.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
	white-space: nowrap;
}

.login .login-input-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.login .login-input-container .input-field {
	display: flex;
	gap: 45px;
	justify-content: center;
	align-items: center;
}

.login .login-input-container .input-field label {
	font-size: 50px;
}

.login .button-row {
	display: flex;
	justify-content: center;
	gap: 50px;
	margin: 10vh 0;
}