.main {
	width: 100vw;
	/* 전체 너비 */
	height: 100vh;
	/* 전체 높이 */
	display: flex;
	flex-direction: column;
	/* 필요에 따라 추가 */
}

.contents {
	margin-top: 15vh;
	height: auto;
	/* 고정된 높이 제거 */
}

/* game-section과 sidebar는 Bootstrap의 col 클래스로 너비를 조정 */
.contents .game-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	/* 고정 너비 제거 */
}

.contents .sidebar {
	width: 100%;
	/* 고정 너비 제거 */
}

