/* Modal styles */
.modal-title {
    font-family: 'DungGeunMo', sans-serif;
    font-size: clamp(18px, 5vw, 40px);
    color: var(--text-color);
    margin-bottom: 20px;
  }
  
  /* Search container styles */
  .search-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    white-space: nowrap;
  }
  
  /* Input styles */
  .search-container input {
    flex: 4.5;
    margin-left: 1rem;
    max-width: fit-content;
  }
  
  .search-container button {
    flex: 1;
    margin-left: 0.5rem;
    max-width: fit-content;
    font-family: 'DungGeunMo', sans-serif;
  }
  
  .search-results {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }
