.friendwindow {
    display: flex; /* Flexbox를 사용하여 자식 요소 배치 */
    justify-content: flex-end; /* 자식 요소를 오른쪽으로 정렬 */
    flex-wrap: wrap; /* 자식 요소가 넘칠 경우 다음 줄로 넘어감 */
}

.addfriend {
    width: 100%;
    /* height: 40px; */
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    display: flex;
}

.friends {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.list-group-item {
    background-color: #ffffff40;
}