.input-default {
	border: 1px solid #ccc;
	background-color: transparent;
	background-color: var(--absolute-color-black);
}

.input-background {
	background-image: url("../../../public/images/ui/macro-input.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.input-small {
	width: 150px;
	font-size: 16px;
}

.input-medium {
	width: 200px;
	font-size: 24px;
}

.input-large {
	width: 200px;
	font-size: 32px;
}