.input-background {
    background-image: url("../../../public/images/ui/macro-input.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
}

.input-bright {
    color: #000;
    width: 100%;
    max-width: 100%;
}

.form-control-xl {
    width: 35vh;
    height: 5vh;
    font-size: 2.5rem;
}

.fs-0 {
    font-size: 5.5rem !important;
}