.modal {
	position: fixed;
	width: 443px;
	height: 600px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	box-shadow: 0 0 10px rgba(57, 255, 20, 0.8);
	background-image: url('../../../public/images/abyss_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.modal .close-button {
	position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border: none;
    top: 5px;
    right: 5px;
    font-size: 24px;
    border-radius: 10px;
}

.modal .close-button:hover {
	cursor: pointer;
}