.Avatar {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;
}

.Avatar_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--avatar-border-color);
  pointer-events: none;
  box-sizing: border-box;
}

.Avatar_frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--avatar-border-color);
  border-radius: 50%;
  pointer-events: none;
  box-sizing: border-box;
}

.Avatar--s {
  width: 32px;
  height: 32px;
}

.Avatar--m {
  width: 48px;
  height: 48px;
}

.Avatar--l {
  height: 64px;
}

/* Avatar--l header size */
.Avatar--l .Avatar_frame {
  border: 1px solid var(--avatar-border-color);
}

@media screen and (max-width: 768px) {
  .Avatar--s {
    width: 24px;
    height: 24px;
  }

  .Avatar--m {
    width: 40px;
    height: 40px;
  }

  .Avatar--l {
    width: 56px;
    height: 56px;
  }
}

@media screen and (max-width: 480px) {
  .Avatar--s {
    width: 20px;
    height: 20px;
  }

  .Avatar--m {
    width: 32px;
    height: 32px;
  }

  .Avatar--l {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .Avatar--s {
    width: 40px;
    height: 40px;
  }

  .Avatar--m {
    width: 56px;
    height: 56px;
  }

  .Avatar--l {
    width: 72px;
    height: 72px;
  }
}