/* 프로필 친구 목록 스타일 */
.character-profile {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    padding: 0.625rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.character-profile .info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    margin-left: 0.625rem;
}

.character-profile .info-container span {
    font-family: 'Pixeboy', sans-serif;
    color: var(--text-color);
    background: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inner-container-profile {
    position: relative;
    min-width: 2.125rem;
    min-height: 1.125rem;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.325rem;
}

.inner-container-profile img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 0.625rem;
}

.inner-character-name {
    position: absolute;
    bottom: 0;
    /* 이미지의 아래쪽에 위치 */
    left: 0;
    /* 왼쪽 정렬 */
    right: 0;
    /* 전체 너비를 차지하도록 설정 */
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    /* 텍스트 그림자 */
    color: white;
    padding: 0rem 0.625rem;
    text-align: center;
}

/* Size-specific styles */
.character-profile.size-s .info-container .character-name {
    font-size: 1.5rem;
}

.character-profile.size-s .info-container .status-message {
    font-size: 0.75rem;
}

.character-profile.size-m .info-container .character-name {
    font-size: 2.5rem;
}

.character-profile.size-m .info-container .status-message {
    font-size: 0.875rem;
}

.character-profile.size-l .info-container .character-name {
    font-size: 5rem;
}

.character-profile.size-l .info-container .status-message {
    font-size: 0.9375rem;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    .character-profile.size-l .info-container .character-name {
        font-size: 3rem;
    }

    .character-profile.size-l .info-container .status-message {
        font-size: 0.875rem;
    }

    .character-profile.size-m .info-container .character-name {
        font-size: 2rem;
    }

    .character-profile.size-m .info-container .status-message {
        font-size: 0.8125rem;
    }
}

@media (max-width: 480px) {
    .character-profile.size-l .info-container .character-name {
        font-size: 2.5rem;
    }

    .character-profile.size-l .info-container .status-message {
        font-size: 0.8125rem;
    }

    .character-profile.size-m .info-container .character-name {
        font-size: 1.75rem;
    }

    .character-profile.size-m .info-container .status-message {
        font-size: 0.75rem;
    }
}