@font-face {
	font-family: 'Pixeboy';
	src: url('../public/fonts/Pixeboy.ttf');
}

@font-face {
	font-family: 'DungGeunMo';
	src: url('../public/fonts/DungGeunMo.ttf');
}

.gate {
	background-image: url('../public/images/space_bg.png');
	background-size: cover;
	height: 100vh;
	width: 100%;
	font-family: 'Pixeboy';
	color: white;
}

.gate .row  h1{
	font-size: 250px;
	line-height: 70%;
	text-align: center;
}

.gate .button-row {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	font-family: 'Pixeboy';
	font-size: 100px;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: url('../public/images/space_bg.png'); /* 배경 이미지 경로 */
	background-size: cover; /* 이미지가 컨테이너에 맞게 조정됨 */
}

.login h1 {
	font-size: 250px;
	line-height: 70%;
	font-family: 'Pixeboy';
	color: white;
	text-align: center;
}

.login .button-row {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	gap: 30px;
	font-family: 'Pixeboy';
}