.macro-input {
	margin-bottom: 10px;
	color: white;
}

.macro-input input {
	color: white;
}

.macro-input .macro-key-name {
	font-size: 23px;
}

.input-macro > .col-9 {
	width: 75%;
}

.my-macro {
    min-width: calc(12rem + 24vh);
}