.my-profile {
	width: calc(100vw - 300px);
	background-color: black;
	color: white;
}

.my-profile .profile-summary {
	margin-top: 20px;
}

.my-profile .horizontal-line {
	border: none;
	border-top: 3px solid #ffffff;
	margin: 20px 0;
	width: 100%;
}

.macro-and-records {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 20px;
	gap: 40px;
    justify-content: space-between;
}

.macro-and-records > * {
	margin: 0px 50px;
}

.my-profile-content {
	padding-left: 20px;
}