.profile-summary {
	margin-left: 30px;
    display: flex;
	flex-wrap: wrap;
    align-items: center;
	gap: 50px;
    font-family: 'DungGeunMo';
}

.profile-summary .profile-summary-img {
	width: 100px;
	height: 100px;
	background-color: #dee2e6;
	border: 3px solid green;
	border-radius: 50%;
	overflow: hidden;
}

.profile-summary .profile-summary-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile-summary .profile-summary-name {
	font-size: 40px;
	max-width: 300px;
}

.profile-summary .profile-summary-name img {
	width: 30px;
	height: 40px;
}

.profile-summary .profile-summary-name input {
	color: white;
}

.profile-summary .profile-summary-win {
	justify-content: center;
}

.profile-summary .profile-summary-win p {
	font-size: 30px;
	margin-bottom: 8px;
}

.profile-summary .button-container {
	gap: 10px;
}

.profile-summary .button-container button {
	padding: 10px 20px;
}

.level {
	font-size: var(--small-font-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
	margin-bottom: 25px;
}

.level img {
	width: 35px;
}

.vertical-line {
    width: 3px;
    height: 120px;
    background-color: #dee2e6; 
}