.selectpage {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    min-width: max-content;
    font-family: var(--base-font);
}
.selectpage  h1 {
    font-family: var(--base-font);
}
.game-list {
    display: flex;
    justify-content: space-around;
    gap: 10vw;
}
.selectpage .one-on-one,
.selectpage .tournament {
    font-size: var(--big-font-size);
    color: var(--text-color);
    min-width: 210px;
    min-height: 210px;
    background: none;
    border: none;
}

.selectpage .one-on-one {
    background-image: url('../../../public/images/ui/1vs1border.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.selectpage .one-on-one:hover,
.selectpage .tournament:hover {
    color: var(--strong-color);
}

.selectpage .tournament {
    background-image: url('../../../public/images/ui/tnmtborder.png');
    background-size: cover;
    background-repeat: no-repeat;
}