.selectpage {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
}

.game-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.selectpage .one-to-one:hover,
.selectpage .tournament:hover {
    color: var(--strong-color);
}