/* customAlert.css */
.custom-alert-overlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  font-family: var(--base-font);
}

.custom-alert-box {
  background-color: var(--absolute-color-black);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 288px;
  box-shadow: var(--alert-box-shadow);
}

.custom-alert-message {
  margin-top: 12px;
  margin-bottom: 16px;
  font-size: x-large;
  white-space: pre-line;
}

.custom-alert-button {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: larger;
  pointer-events: auto;
}

.custom-alert-button:hover {
  background-color: hsl(var(--primary) / 0.9);
}