.game-records .one-game-record .outcome {
	display: flex;
	height: 4.6875rem; /* 75px를 rem으로 변환, 일관된 높이 유지 */
	align-items: center;
  }
  
  .game-records .one-game-record .profile-container {
	display: flex;
	position: relative;
	width: 5.3125rem; /* 85px를 rem으로 변환, 일관된 너비 유지 */
	height: 4.6875rem; /* 75px를 rem으로 변환, 일관된 높이 유지 */
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .game-records .one-game-record .profile-container .profile-result-img {
	min-width: 3.125rem; /* 50px를 rem으로 변환, 최소 크기 보장 */
	min-height: 3.125rem; /* 50px를 rem으로 변환, 최소 크기 보장 */
	background-color: #dee2e6;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .game-records .one-game-record .profile-container .profile-result-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-left: 0.3125rem; /* 5px를 rem으로 변환, 일관된 간격 유지 */
	justify-content: center;
	align-items: center;
  }
  
  .game-records .one-game-record .profile-container .user-name {
	position: relative;
	font-size: 1.25rem; /* 20px를 rem으로 변환, 텍스트 크기의 일관성 유지 */
	top: -1.25rem; /* -20px를 rem으로 변환, 일관된 위치 조정 */
	margin-top: 0;
	text-shadow: 
	  -0.0625rem -0.0625rem 0 black,
	  0.0625rem -0.0625rem 0 black,
	  -0.0625rem 0.0625rem 0 black,
	  0.0625rem 0.0625rem 0 black; /* 1px를 rem으로 변환, 일관된 텍스트 그림자 효과 */
  }
  
  .game-records .one-game-record .result {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4.0625rem;
    font-size: calc(1rem + 1vw);
}